@model HomeIndexViewModel
<div class="container-fluid">
    @{
        Html.RenderPartial("SlideShow");
    }
    <div>
        <h5 class="ml-4">@ViewBag.MyMessage </h5>
    </div>
    <section class="text-center my-5">
        <div class="row">


            @foreach (var item in Model.Packages)
            {

                <!-- Grid column -->
                <div class="col-md-3 mb-2 mt-2">


                    <!-- Card -->
                    <div class="card card-columns">
                        <!-- Card image -->
                        <div class="view overlay img-fluid">
                            <img src="~/@item.PackImage" class=" img-fluid w-100 h-75 card-img-top img-thumbnail" alt="Responsive image">
                            <div class="mask flex-center">
                                @*<p class="white-text">Zoom effect</p>*@
                            </div>
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <!-- Card image -->
                        <!-- Card content -->
                        <div class="card-body text-center">
                            <!-- Category & Title -->
                            <p>
                                <h5 class="text-warning font-weight-bold">@item.PackName</h5>
                            </p>
                            <h4 class="card-title">
                                <strong>
                                    <a href="">@item.PackLocation</a>
                                </strong>
                            </h4>

                            <!--Description-->
                            <p class="card-text font-italic text-info">
                                @item.PackDescription
                            </p>
                            <!-- Card footer -->
                            <div class="px-1">
                                <span class="float-left font-weight-bold text-danger ">
                                    <strong>Price: @item.PackPrice</strong>
                                </span>
                                @*<span class="float-left font-weight-bold text-danger ">
                                        <strong>Price: @item.PackageStatus</strong>
                                    </span>*@

                            </div>
                            <div class="px-1">
                                @Html.ActionLink("Book Now", "Render", "Account")
                                @*@Html.ActionLink("Book Now", "Login", "Account", new { id = item.PackageId })*@
                                @*<a class="btn btn-success btn-rounded font-weight-bold" asp-action="Book" asp-controller="Order">Book Now: @new {id=item.PackageId}</a>*@

                                <span class="">
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Customer"))
                                    {
                                        @*<a class="btn btn-success btn-rounded font-weight-bold" asp-action="Book" asp-controller="Order" new {id = item.PackageId}>Book Now</a>*@
                                        @Html.ActionLink("Book Now", "Book", "Order", new { id = item.PackageId })
                                    }

                                </span>
                                <span class="">
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("TravelProvider"))
                                    {

                                        @Html.ActionLink("Update", "Update", "Package", new { id = item.PackageId })

                                    }
                                </span>
                            </div>
                        </div>
                        <!-- Card content -->
                    </div>
                    <!-- Card -->


                </div>
                <!-- Grid row -->
            }
        </div>
    </section>
</div>

